@import "/src/styles/mixins/colors.scss";

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.subContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 80%;
  height: 67vh;
}

.logo {
  width: 25%;
  height: 50%;
  border-radius: 50%;
  border: 3px solid $border-color;
}