// ---------- colors Header and Footer ----------------------

$background-color: #3a178f;
$border-color: #afafaf;

// ---------- colors body -----------------------------------

$backgroundBody-color: #1f0b60;
$colorBody-color: white;