// ---------- colors Header and Footer ----------------------

$background-color: #343338;
$border-color: #afafaf;

// ---------- colors body -----------------------------------

$backgroundBody-color: black;
$colorBody-color: white;

// ---------- colors Calculator -----------------------------

$backgroundCalc-color: #303136;
$buttonCalc-color: #303136;
$buttonCalcSpecial-color: #005DB2;
$borderCalc-color:  #75767a;
$displayCalc-color: #303136;
$numberCalc-color: #29A8FF;
$numberCalcSpecial-color: #9cdff7;
$display-color: #000;

// ---------- colors Timer ---------------------------------

$displayTimer-color: #000;
$colorTimer1-color: #00d9ff;
$colorTimer2-color: #00d9ffc0;
$colorTimer3-color: #00d9ffcc;

// ---------- colors IMC -----------------------------------

$colorIMC1-color: #00d9ff;
$colorIMC2-color: #00d9ffc0;
$colorIMC3-color: #00d9ffcc;




