// ---------- colors Header and Footer ----------------------

$background-color: #343338;
$border-color: #afafaf;

// ---------- colors body -----------------------------------

$backgroundBody-color: black;
$colorBody-color: white;

// ---------- colors Calculator -----------------------------------

$backgroundCalc-color: #303136;
$buttonCalc-color: #303136;
$buttonCalcSpecial-color: #005DB2;
$borderCalc-color:  #75767a;
$displayCalc-color: #303136;
$numberCalc-color: #29A8FF;
$numberCalcSpecial-color: #9cdff7;
